.home {
  .banner {
    background: conic-gradient(
      from 178.58deg at 48.85% 55.56%,
      #000304 0deg,
      #110a21 86.26deg,
      #190729 142.87deg,
      #221140 175.74deg,
      #1c1242 268.36deg,
      #080a1a 281.12deg,
      #000304 360deg
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
