@mixin row_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin column_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin grid_center {
  display: grid;
  place-items: center;
}
